html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    /*-- VARIABLES --*/
    /* COLOR SETTINGS */
    --color-primary-background: #ffffff;
    /* pirmary-background */
    --color-primary-brand: #4d5ae5;
    /* primary-brand, logo-accent */
    --color-primary-brand-focus: #404bbf;
    /* primary-brand-focus */
    --color-dark: #2e2f42;
    /* dark */
    --color-success: #31d0aa;
    /* success */
    --color-body-text: #434455;
    /* body-text */

    /* helper-text */
    --color-accent: #e7e9fc;
    /* accent-color */
    --color-light-mode-background: #f4f4fd;
    /* light-mode-background */

    /* FONT SETTINGS */
    --font-logo: 'Raleway', sans-serif;
    /* logo */
    --font-primary: 'Roboto', sans-serif;
    /* primary */

    /* FONT WEIGHT */
    --font-weight-logo: 800;
    /* logo */
    --font-weight-regular: 400;
    /* regular */
    --font-weight-bold: 500;
    /* bold */

    /* FONT SIZES */
    --font-size-logo: 18px;
    /* logo */
    --font-size-body: 16px;
    /* body */
    --font-size-hero-tile: 56px;
    /* h1, hero, title */
    --font-size-section-top-title: 36px;
    /* h2 */
    --font-size-title: 20px;
    /* h3 */
    --font-size-small: 12px;
    /* small */
    --font-size-bold: 16px;
    /* bold */
    --font-size-button: 16px;
    /* button */
    --font-size-link: 16px;
    /* link */

    /* LINE HEIGHT */
    --line-height-logo: 1.33;
    /* logo */
    --line-height-hero-tile: 1.07;
    /* h1, hero, title */
    --line-height-section-top-title: 0.67;
    /* h2 */
    --line-height-title: 1.2;
    /* h3 */
    --line-height-small: 1.33;
    /* small */
    --line-height-bold: 1.5;
    /* bold */
    --line-height-button: 1.5;
    /* button */
    --line-height-link: 1.5;
    /* link */

    /* LETTER SPACING */
    --letter-spacing-logo: 0.03em;
    /* logo */
    --letter-spacing-primary: 0.02em;
    /* body */
    --letter-spacing-secondary: 0.04em;
    /* button, smaller text */
}

/*-- ELEMENT STYLES --*/
/* B1, B2 MARGIN RESET */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a,
b,
span{
    margin: 0;
    padding: 0;
}

img,svg {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background:#ffffff;
    color: var(--color-body-text);
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-primary);
}

/*-- CLASS STYLES --*/
/* HIDDEN */
.visually-hidden {
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* LIST */
.list {
    list-style: none;
}

.link:hover,
.link:focus,
.link:active {
    color: var(--color-primary-brand);
}

/*-- B7, B8 CONTENT CENTER */
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*-- B15 SECTION PADDING */
.section-bottom {
    padding-top: 96px;
    padding-bottom: 120px;
}

.section-top {
    padding-top: 120px;
}

/*-- SECTIONS --*/
/* HEADER */
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--color-dark);
    font-family: var(--font-logo);
    font-size: var(--font-size-logo);
    font-weight: var(--font-weight-logo);
    letter-spacing: var(--line-spacing-logo);
    line-height: var(--line-height-logo);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.logo-accent {
    color: var(--color-primary-brand);
}

.logo-header {
    color: var(--color-dark);
    margin-right: 76px;
    padding: 24px 0px;
}

.logo-footer {
    color: var(--color-primary-background);
    margin-right: 76px;
}

.address{
    margin-left: auto;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
}
.header-item {
    position: relative;
    color: var(--color-dark);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    padding: 24px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:hover,
.header-item:focus,
.header-item:active {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item.current::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -4px;
    left: 0;
}

.header-item:hover::after {
    opacity: 1;
}

.contacts-list {
    display: flex;
    align-items: center;
}

.contacts-list-item {
    color: inherit;
    text-decoration: none;
    margin: 0px 40px 0px 0px;
    padding: 24px 0px;
    display: block;
    font-style: normal;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HOVER EFFECTS HEADER */
.logo-accent:hover,
.logo-accent:focus,
.logo-accent:active {
    color: var(--color-primary-brand-focus);
}

.header-item:hover,
.header-item:focus,
.contacts-list-item:hover,
.contacts-list-item:focus {
    color: var(--color-primary-brand);
}

.current {
    color: var(--hover-color);
}

.current::after {
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
    bottom: -4px;
    left: 0;
}


/* HERO */
.hero {
    color: var(--color-primary-background);
}

.hero-container {
    text-align: center;
    width: 1440px;
    color: var(--color-primary-background);
    padding: 192px 0px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-dark);
}

.hero-headline {
    color: var(--color-primary-background);
    font-size: var(--font-size-hero-tile);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-hero-tile);
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 492px;
}

.hero-btn {
    border: none;
    text-align: center;
    font-family: var(--font-primary);
    background-color: var(--color-primary-brand);
    border-radius: 4px;
    border: 1px solid var(--color-primary-brand);
    color: var(--color-primary-background);
    cursor: pointer;
    letter-spacing: var(--letter-spacing-secondary);
    line-height: var(--line-height-button);
    padding: 16px 32px;
    font-weight: var(--font-weight-bold);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
    background-color: var(--color-primary-brand-focus);
    border: 1px solid var(--color-primary-brand-focus);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Modal*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 408px;
    min-height: 576px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
    background-color:#404bbf;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 8px;
    height: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover svg,
.modal-btn:focus svg {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


/* ADVANTAGES */
.advantages-list-icon{
    width: 64px;
    height: 64px
}

.advantages-icon-wrapper{
    background-color: #f4f4fd;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages-list {
    display: flex;
}

.advantages-list-item {
    margin-right: 24px;
    flex-basis: calc((100% - 72px) / 4);
}

.advantages-list-item:last-child {
    margin-right: 0px;
}
/*-- h1 --*/
.hero-tile {
    color: var(--color-primary-background);
    font-size: var(--font-size-hero-tile);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-hero-tile);
}
/*-- h2 --*/
.section-top-title {
    font-size: var(--font-size-section-top-title);
    font-weight: 700;
    line-height: var(--line-height-title);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}
/*-- h3 --*/
.title {
    color: var(--color-dark);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    margin-bottom: 8px;
    letter-spacing: var(--letter-spacing-primary);
}

/*-- SECTIONS --*/
/* ADVENTAGES */
.advantages-description {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
    line-height: var(--line-height-bold);
    letter-spacing: var(--letter-spacing-primary);
    line-height: 1.5;
}

/* SERVICES */
.services-title {
    margin-bottom: 72px;
    text-align: center;
}

.services-list {
    display: flex;
}

.services-list-item {
    margin-right: 24px;
}

.services-list-item:last-child {
    margin-right: 0px;
}

/* TEAM */
.team-social-list-link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-primary-brand);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon{
    width: 16px;
    height: 16px;
    top: 12px;
    left: 12px;
    fill: #4D5AE5;;
}
.team-card-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-link{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
}
.team-section {
    background-color: var(--color-light-mode-background);
}

.team-title {
    margin-bottom: 72px;
    text-align: center;
}

.team-list {
    display: flex;
}

.team-list-item {
    flex-basis: calc((100% - 72px) / 4);
    margin-right: 24px;
    text-align: center;
    background-color: var(--color-primary-background);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-social-list-link:hover,
.team-social-list-link:focus,
.team-social-list-link:active {
    background-color: var(--color-primary-brand-focus);
}

.team-list-item:last-child {
    margin-right: 0px;
}

/* FOOTER */

.footer {
    background: var(--color-dark);
    padding: 100px 0px;
    display: flex;
}

.footer-wrapper {
    display: flex;
}

.footer-wrapper-logo {
    margin-right: 120px;
}

.footer-text {
    width: 284px;
    margin-top: 16px;
    color: var(--color-primary-background);
}

.footer-social-title {
    font-weight: 500;
    font-size: var(--font-size-body);
    line-height: var(--line-height-bold);
    color: var(--color-light-mode-background);
    text-align: left;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
}

.footer-social-list-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-social-list-icon {
    width: 24px;
    height: 24px;
    top: 12px;
    left: 12px;
    fill: var(--color-light-mode-background);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus,
.footer-social-list-link:active {
    background-color: var(--color-success);
}

/* CUSTOMERS */

.customers-section {
    display: flex;
}

.customers-title {
    margin-bottom: 72px;
    text-align: center;
}

.customers-list {
    display: flex;
    align-items: center;
}

.customers-list-item {
    margin-right: 24px;
    height: 88px;
    width: 168px;
}

.customers-logo-link {
    display: block;
    height: 100%;
    width: 100%;
}

.customers-logo-icon {
    fill: #8e8f99;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 16px 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-logo-link:hover .customers-logo-icon,
.customers-logo-link:focus .customers-logo-icon,
.customers-logo-link:active .customers-logo-icon {
  fill: var(--color-primary-brand);
  border-color: var(--color-primary-brand);
}
/*-- PORTFOLIO --*/
.portfolio-card-link {
    text-decoration: none;
    color: var(--color-body-text);
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-wrapper {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio-text{
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
    line-height: var(--line-height-bold);
    letter-spacing: 0.02em;
    color: var(--color-body-text);
}

.portfolio-title {
    margin-bottom: 8px;
}

.portfolio-buttons {
    display: flex;
    margin: 0px 0px 72px 0px;
    justify-content: center;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
}

.portfolio-card {
    gap: 48px;
}
.portfolio-card-link:hover .portfolio-overlay,
.portfolio-card-link:focus .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-card-link:hover,
.portfolio-card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;

}
.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;

}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    padding: 40px 32px 164px 32px;
    background-color: #4d5ae5;
}
/*-- HERO BUTTON --*/
.btn {
    font-family: var(--font-primary);
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-weight: var(--font-weight-bold);
    height: 48px;
    justify-content: center;
    left: 93px;
    letter-spacing: var(--letter-spacing-secondary);
    line-height: var(--line-height-button);
    padding: 12px 24px;
    top: 0px;
    background-color: #F4F4FD;
}

.portfolio-buttons{
    gap: 24px;
}

.portfolio-btn {
    border: 1px solid #E7E9FC;
    color: var(--color-primary-brand);
    width: auto;
    background-color: #F4F4FD;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HOVER EFFECTS PORTFOLIO */
.portfolio-card:hover,
.portfolio-card:focus {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* <button */
.decor-btn,
.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--color-primary-brand);
    border: 1px solid var(--color-primary-brand);
    color: var(--color-primary-brand);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--color-primary-background);
}

/* <button */
.decor-btn:hover,
.decor-btn:focus {
    background-color: var(--color-primary-brand);
    border: 1px solid var(--color-primary-brand);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* <button */
.decor-btn:active,
.portfolio-btn:active {
    background: var(--color-primary-brand-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}